name: Build and Push Images to Dockerhub

on:
    push:
        branches:
            - 'main'

jobs:
    build-and-push:
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

            - name: Build and Push Client
              run: |
                docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/socket_messenger_server:latest ./client_side
                docker push ${{ secrets.DOCKERHUB_USERNAME }}/socket_messenger_client:latest

            - name: Build and Push Server
              run: |
                docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/socket_messenger_server:latest ./server_side
                docker push ${{ secrets.DOCKERHUB_USERNAME }}/socket_messenger_server:latest
            

